.root-main{
    display: flex;
    align-items:flex-start;
    gap: 20px;
}

nav a.active{
    text-decoration: underline;
    color: bisque;
    background-color: green;
    padding: 5px;
    border-radius: 8px;
}